spring.application.name=TumblrTagTracker

telegram.bot.token=${TELEGRAM_BOT_TOKEN}
telegram.bot.username=${TELEGRAM_BOT_USERNAME}

spring.main.banner-mode=off

logging.level.org.telegram=DEBUG
logging.level.com.example=DEBUG

spring.datasource.driver-class-name=com.mysql.jdbc.Driver
spring.datasource.url=jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=true&requireSSL=false&serverTimezone=UTC
spring.datasource.username=${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect
spring.jpa.properties.hibernate.show_sql=${SHOW_SQL}
spring.jpa.hibernate.ddl-auto=validate

spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.use_sql_comments= false

logging.level.org.hibernate.SQL= DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder= TRACE

spring.docker.compose.enabled=false

tumblr.api.key=${TUMBLR_API_KEY}
tumblr.api.secret=${TUMBLR_API_SECRET}
  
  
  # Redis Configuration
spring.data.redis.host=${REDIS_HOST}
spring.data.redis.port=${REDIS_PORT}
spring.data.redis.password=${REDIS_PASSWORD}
spring.data.redis.database=${REDIS_DATABASE}
  
  # Connection pool settings
spring.data.redis.lettuce.pool.max-active=8
spring.data.redis.lettuce.pool.max-idle=8
spring.data.redis.lettuce.pool.min-idle=0
spring.data.redis.timeout=2000ms

resilience4j.circuitbreaker.instances.tumblr.failure-rate-threshold=50
resilience4j.circuitbreaker.instances.tumblr.wait-duration-in-open-state=60s
resilience4j.circuitbreaker.instances.tumblr.sliding-window-size=10
  
  # Tumblr filters
tumblr.filter.minimum.notes=${MIN_NOTES}
tumblr.filter.minimum.age.hours=${MIN_AGE_HOURS}
tumblr.filter.recheck.interval.hours=${RECHECK_HOURS}
tumblr.filter.cleanup.days=${CLEANUP_DAYS}
tumblr.check.interval.ms=600000
notification.delay.between.users.ms=1000